/* Estilo general del calendario */
.calendar-header {
  background-color: #007bff; /* Cambia este color al que desees */
  color: #fff; /* Color de texto en la parte superior */
  padding: 10px; /* Espacio interno */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Estilo de los días del calendario */
  div > div {
    width: 14%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #61ac89;
    box-sizing: border-box;
  }
  
  /* Efecto de resaltado al pasar el cursor sobre los días */
  div > div:hover {
    background-color: #4533964b;
    cursor: pointer;
  }
  
  /* Estilo de los días con notas */
  div > div[data-note="true"] {
    background-color: #e9d205;
  }
  
  /* Estilo responsivo para pantallas pequeñas (como dispositivos móviles) */
  @media (max-width: 600px) {
    div > div {
      height: 30px;
      font-size: 12px;
    }
  }
/* Estilo de los días del calendario */
div > div {
  width: 14%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #61ac89;
  box-sizing: border-box;
  background-color: #c7a8a8; /* Agrega esta línea con el color que desees */
}
  
