.fondo {
    --background: no-repeat center/cover url(public/Fondo.jpg);
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
  }
  
